<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Print Text Field Content</title>
    <script>
        function printTextFieldContent() {
            var inputText = document.getElementById("inputField1").value;
            document.getElementById("displayText").innerText = inputText;
        }
    </script>
</head>
<body>
    <h1>{{title}}</h1>

    <form action="/addNew" method="post">
      <input type="text" name="ID" placeholder="Enter some id">
      <input type="text" name="job" placeholder="Enter some job">
      <input type="text" name="location" placeholder="Enter some location">
      <input type="text" name="salary" placeholder="Enter some salary">

      <input type="submit">
    </form>


  <p>
    {% include 'sample.html' %}
  </p>
</body>
</html>
